@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This Page is about El Gran Pet Care</p>
    <p>Leader: Pacifica Wasike </p>
    <p>Member: Johann Immanuel Otasowie Ogbebor</p>
    <p>Member: Titchandara Him</p>
</main>