@{
    ViewBag.Title = "Contact";
}
<style>
    h2.my-4, h3 {
        font-family: Tahoma, sans-serif;
        color: #00627D;
    }
</style>
<main aria-labelledby="title">
    <div class="container">

        <h2 class="my-4" style="color: #00627D; font-family: Tahoma, sans-serif;">El Gran Pet Care</h2>
        <h3 style="color: #00627D; font-family: Tahoma, sans-serif;">Contact Us</h3>

        <address>
            Contact us for friendly advice and professional pet health care by phone, email or drop in to our Practice.<br />
            Address:Chadstone Way<br />
            Redmond, vic 3168<br />
            Directly opposite starbuck<br />
            <abbr>Phone:</abbr>
            0456 987 564
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:mailto:elpetcare@google.com">mailto:elpetcare@google.com</a><br />
        </address>
    </div>
</main>