@{
    ViewBag.Title = "Contact";
}
<<<<<<< Updated upstream
=======
<style>
    h2.my-4, h3 {
        font-family: Tahoma, sans-serif;
        color: #00627D;
    }
</style>

>>>>>>> Stashed changes
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

<<<<<<< Updated upstream
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
=======
        <h2 class="my-4" style="color: #00627D; font-family: Tahoma, sans-serif;">El Gran Pet Care</h2>
        <h3 style="color: #00627D; font-family: Tahoma, sans-serif;">Contact Us</h3>
>>>>>>> Stashed changes

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>